<h1>Todos os usuarios</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Primeiro</th>
      <th scope="col">Idade</th>
      <th scope="col">Apelido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>João Lucas</td>
      <td>19 anos</td>
      <td>Ciborg</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pedro</td>
      <td>21 anos</td>
      <td>Plenteon</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Rodrigo</td>
      <td>17 anos</td>
      <td>Bob esponja</td>
    </tr>
  </tbody>
</table>